.wrapper {
  position: static;
  box-sizing: border-box;
  margin-top: -60px;
}

.inner {
  position: absolute;
  top: 0;
  min-width: 100vw;
  height: calc(70vh + 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 25%;

  @media (max-width: $mantine-breakpoint-sm) {
    padding: 0 5%;
  }
}

.title {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-size: rem(62px);
  font-weight: 900;
  line-height: 1.1;
  margin: 0;
  padding: 0;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  overflow: hidden;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(30px);
    line-height: 1.2;
  }
}

.description {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  margin-top: var(--mantine-spacing-xl);
  font-size: rem(24px);

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(16px);
  }
}

.animatedBackground {
  background: linear-gradient(180deg, #843cd4, #ab63f8, #e7a103, #febe29, #843cd4);
  background-size: 100% 300%;
  animation: gradientFlow 8s linear infinite;
  height: 70dvh;
  width: 100vw;
  position: relative;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
}

.animatedBackgroundLine {
  height: 100%;
  overflow: hidden;
  background: linear-gradient(180deg, #843cd4, #ab63f8, #e7a103, #febe29, #843cd4);
  background-size: 100% 300%;
  animation: gradientFlow 8s linear infinite;
}

@keyframes gradientFlow {
  0% {
    background-position: 50% 0%;
  }

  100% {
    background-position: 50% 300%;
  }
}

.code {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  color: #fff;
  background-color: #000;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: var(--mantine-spacing-xl);
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: var(--mantine-spacing-md);
  justify-content: space-between;
  position: relative;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 1rem;
    padding: 0.5rem;
  }
}

.copyButton {
  height: 3rem !important;
  width: 3rem !important;
  padding: 8px !important;
  background: #1e1e1e !important;
  font-size: 1.5rem;

  @media (max-width: $mantine-breakpoint-sm) {
    height: 2rem !important;
    width: 2rem !important;
    padding: 4px !important;
  }
}

.scrollingContainer {
  display: inline-block;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: rem(42px);
  width: 200px;
  text-align: left;

  @media (max-width: $mantine-breakpoint-sm) {
    height: rem(24px);
    width: 100px;
  }
}

.scrolling {
  font-size: rem(62px);
  animation: scroll 4s ease infinite;
  position: absolute;
  transform: translateX(-50%);
  opacity: 0;
  white-space: nowrap;
  text-decoration: underline;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(30px);
  }
}

@keyframes scroll {
  0% {
    transform: translateY(200%);
    opacity: 0;
  }

  15% {
    transform: translateY(0);
    opacity: 1;
  }

  30% {
    transform: translateY(0);
    opacity: 1;
  }

  35% {
    opacity: 0;
  }

  50% {
    transform: translateY(-200%);
    opacity: 0;
  }

  100% {
    transform: translateY(-200%);
    opacity: 0;
  }
}

.scrolling:nth-child(2) {
  animation-delay: 1s;
}

.scrolling:nth-child(3) {
  animation-delay: 2s;
}

.scrolling:nth-child(4) {
  animation-delay: 3s;
}
