{
  "trailingComma": "all",
  "tabWidth": 2,
  "singleQuote": true,
  "printWidth": 110,
  "semi": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "endOfLine": "lf",
  "importOrder": ["^@", "<THIRD_PARTY_MODULES>", "^[./|~/]"],
  "importOrderCaseInsensitive": true,
  "importOrderParserPlugins": ["typescript"],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
